html{

    height:100%;
}

body{

    height:100%;
    background-attachment:fixed;
    background-color: #222222;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat

}

#condition{

    width:100%;
    height:100%;
    text-align: center;

}

#condition-icon{

   position:absolute;
   width:100%;
   height:100%;

}

.centered{

    display: block;
    margin: 0 auto;

}

.header{

  font-family:Lobster;
  color:white;
  position: fixed;
  left:50%;
  top:5%;
  margin-top: -20px;
  margin-left:-120px;


}

.content{

    position:fixed;
    top:10%;
    left:50%;


    margin-left:-70.5px;

}

.footer{
   width: 100%;
   background-color:black;
   border-top:1px solid black;
   height:150px;
   padding:1em 1em 0;
   position:fixed;
   bottom:0;
}

.footer-logos i{

    border:1px solid rgba(100,100,100,0.4);
    border-radius:30%;
    text-align:center;


}

.copyright{

    margin-top:20px;
}
